<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; index as i">
        <td>
          {{ product.name }}
        </td>
        <td><input #quantity (input)="updateProduct(product, $event)" [value]="product.quantity" type="number" min="0"></td>
        <td>{{ product.price | currency:'EUR':'symbol':'.2':'de' }}</td>
        <td>
          <button type="button" (click)="removeFromCart(product)" class="btn btn-danger">
          <i class="fa fa-shopping-cart"></i>
            Remove from cart
          </button>
        </td>
      </tr>
      <tr>
        <td>Price: {{price | currency:'EUR':'symbol':'.2':'de' }}</td>
        <td></td>
        <td></td>
        <td>
          <button type="button" (click)="closeModal()" class="btn btn-success">
          <i class="fa fa-shopping-cart"></i>
            {{modal.hasOpenModals() ? 'Proceed to checkout' : 'Pay up'}}
          </button></td>
      </tr>
      </tbody>
  </table>
</div>